body {
  color: white;
  background:url('../assets/images/brad-starkey-pVyaUGCuUU4-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(2, 30, 73, 0.6);
  -moz-box-shadow: inset 0 0 0 1000px rgba(2, 30, 73, 0.6);
  box-shadow: inset 0 0 0 1000px rgba(2, 30, 73, 0.6);
}
/* #0d6efd */

.nav-header, .welcome-article, .contact-article {
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header-sticky {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.nav-header .nav-link {
  color: rgba(255, 255, 255, .5);
}
.nav-link:hover {
  cursor: pointer;
}
.nav-header .active {
  color: #fff;
}

/* Welcome */
.welcome-cta {
  margin-top:3rem;
  -webkit-transition: margin 0.3s ease-in-out;
}

/* Tiles */
.tile {
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
  border: 1px solid white;
  margin-bottom: 24px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.8);
}
a.project-link {
  color: inherit;
  text-decoration: none;
}

.ribbon {
  position: absolute;
  top:0;
  right:0;
  margin: 0;
  padding: 0;
  background: #0d6efd;
  color:white;
  padding:1rem 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.ribbon:before, .ribbon:after {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  content: '';
  margin: 0 -1px; 
  background: #0d6efd;
}
.ribbon:before {
  right:100%;
}
.ribbon:after {
  left:100%;
}

/* Contact */
.contact-icon-wrapper {
  padding: 3rem;
  border: 4px solid white;
  -webkit-transition: all 0.3s ease-in-out;
}
.contact-icon-wrapper:hover {
  background-color: black;
}

/* Desktop Only */
@media (min-width: 780px) {
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .tile:hover {
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out;
  }
  .welcome-cta:hover {
    margin-top: 4rem;
    -webkit-transition: margin 0.3s ease-in-out;
    cursor: pointer;
  }
}

/* Mobile Only */
@media (max-width: 768px) {
  .welcome-article, .projects-article, .contact-article {
    height: 100% !important;
    padding-top: 7rem;
  }
  .welcome-cta {
    margin-top:1rem;
  }
  .contact-icon-wrapper {
    padding: 2rem;
    width: 60%;
    margin: 0 auto 1rem;
  }
}