body {
  color: white;
  background:url('../assets/images/brad-starkey-pVyaUGCuUU4-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(2, 30, 73, 0.6);
}
/* #0d6efd */

.nav-header, .welcome-article {
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 780px) {
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
}
@media (max-width: 768px) {
  .projects-article, .contact-article {
    height: 100% !important;
  }
}

/* Header */
.header-sticky {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.nav-header .nav-link {
  color: rgba(255, 255, 255, .5);
}
.nav-header .active {
  color: #fff;
}

/* Tiles */
.tile {
  position: relative;
  height: 250px;
  width: 100%;
  border: 1px solid white;
  margin-bottom: 24px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.7);
}
.tile:hover {
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
}